---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
---

<Layout title="GravityIntel - Advanced Analytics & Machine Intelligence">
  <Navbar client:load />
  <main class="pt-16">
    <Hero />
    <Services />
  </main>
</Layout> 